@media (max-width: 1200px) {
  .room-content-order {
    flex-direction: column-reverse;
  }

  .room-gallery-grid {
    margin: 0 auto;
  }
}

@media (min-width: 800px) {
  .check-in-out-search {
    flex-direction: row;
  }

  .check-in-out-search > * {
    width: calc(100% / 3);
  }
}

@media (max-width: 800px) {
  .room-gallery-grid {
    grid-template-columns: 1fr;
  }

  .room-gallery-grid img:nth-child(1) {
    grid-column: span 1;
  }
}

@media (min-width: 700px) {
  .activity-card {
    flex-direction: row;
  }

  .activity-card img {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .ham-menu {
    display: flex;
  }

  .name-price-container {
    flex-direction: column;
  }

  .name-price-container input {
    width: 100%;
  }
}
