@media (min-width: 800px) {
  .check-in-out-search {
    flex-direction: row;
  }

  .check-in-out-search > * {
    width: calc(100% / 3);
  }
}

@media (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .ham-menu {
    display: flex;
  }

  .name-price-container {
    flex-direction: column;
  }

  .name-price-container input {
    width: 100%;
  }
}
