:root {
  --dark-blue: #07004d;
  --blue: #28bafe;
  --light-blue: #e3f5fd;
  --white: #fff;

  --rounded-md: 16px;
  --rounded-sm: 8px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--white);
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-size: 24px;
  font-weight: 600;
}

button {
  border: none;
  cursor: pointer;
}

button,
input,
textarea {
  outline: none;
}

a {
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}

textarea {
  resize: vertical;
}

.border-error-red {
  border: 1px solid red;
}

.text-error-red {
  color: red;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

/* ---- Header ---- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  width: 100%;
  height: 81px;
  background: var(--dark-blue);
  color: var(--white);
  position: fixed;
  top: 0;
}

aside {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  display: none;
  height: calc(100vh - 80px);
  overflow: hidden;
  z-index: 10;
}

aside nav {
  width: 100%;
  height: 100%;
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 24;
  padding: 24px;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
}

.nav-logo {
  user-select: none;
  font-size: 24px;
  font-weight: 600;
}

.show-mobile-nav {
  transform: translateX(0);
  transition: all 0.3s ease-in;
}

.desktop-nav {
  display: flex;
  gap: 24px;
}

.ham-menu {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.ham-menu div {
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  background: var(--white);
  transition: all 0.3s ease-in;
  transform-origin: right center;
}

.ham-line-top {
  transform: rotate(-45deg) translateY(-2px);
  width: calc(21px * 1.41421356237);
}

.ham-line-bottom {
  transform: rotate(45deg) translateY(2px);
  width: calc(21px * 1.41421356237);
}

/* ---- Hero section ---- */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('../images/svalbard_bear.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 24px;
}

.hero-text-container {
  background: var(--light-blue);
  border-radius: var(--rounded-md);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  max-width: 400px;
  text-align: center;
}

/* ---- Rooms section ---- */
.rooms-section {
  max-width: 1440px;
  padding: 0 24px;
  margin: 64px auto;
}

.rooms-filter-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.check-in-out-search {
  background: var(--dark-blue);
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border-radius: var(--rounded-sm);
}

.submit-btn-blue {
  background: var(--blue);
  color: var(--white);
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--rounded-sm);
}

.sort-btn-stroke {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--dark-blue);
  border-radius: 22px;
  cursor: pointer;
  max-width: 500px;
}

.check-date-input {
  padding: 10px;
  border-radius: var(--rounded-sm);
  border: none;
  font-size: 1rem;
  font-weight: 600;
}

.rooms-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 16px;
}

.rooms-container-title {
  margin: 24px 0;
}

.room-card {
  overflow: hidden;
  border-radius: var(--rounded-md);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.room-card-image {
  max-width: 100%;
}

.room-card-text-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.explore-activities-section {
  background: var(--dark-blue);
  color: var(--white);
  padding: 24px;
}

.explore-activities-section div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 600px;
  margin: auto;
}

.btn-white {
  padding: 8px;
  border-radius: var(--rounded-sm);
  font-weight: 500;
  font-size: 1.2rem;
  background: var(--white);
  color: var(--dark-blue);
  text-align: center;
}

/* ---- Login ---- */
.admin-main {
  height: 100vh;
  background: var(--dark-blue);
  color: var(--white);
  padding: 80px 24px 0 24px;
}

.admin-main form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-text {
  font-size: 1.2rem;
  color: var(--dark-blue);
  padding: 8px 16px;
  border-radius: var(--rounded-sm);
  border: none;
}

/* ---- Admin ---- */
.max-w-section {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.create-room-input label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
}

.create-room-input input,
.create-room-input textarea {
  font-size: 18px;
  padding: 8px;
  border-radius: var(--rounded-sm);
  border: none;
  color: var(--dark-blue);
}
